@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
:root
{
    --main-color: rgb(231, 178, 61);
    --black: #000;
    --ho: #fabf51;
}
::selection
{
    background: #333;
    color: #fff;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 100px;
} 
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a 
{
    display: inline-block;
    color: var(--black);
    background: var(--main-color);
    padding: 13px 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    margin-left: 40px;
    text-decoration: none;
}
header ul li a:hover
{
    transition: 0.5s;
    padding: 13px 15px;
    background: var(--ho);
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox
{
    position: relative;
    max-width: 850px;
    padding: 25px 22px;
}
.content .textBox h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span
{
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox h2 span
.content .textBox p
{
    color: #333;
}
.content .textBox a 
{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 35px;
    background: var(--main-color);
    color: var(--black);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .textBox a:hover
{
    transition: 0.5s;
    background:var(--ho);
}
.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img 
{
    max-width: 340px;
}
.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li 
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.text
{
    position: absolute;
    left: 32%;
    top: -50px;
    font-size: 22px;
    text-align: center;
}
.thumb li:hover
{
    transform: translateY(-15px);
}
.thumb li img
{
    max-width: 90px;
}
.sci
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li 
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background:var(--main-color);
    clip-path: circle(600px at right 800px);
}
@media(max-width: 991px)
{
    header
    {
        padding: 20px;
    }
    header .logo
    {
        position: relative;
        width: 150px;
        border-radius: 50%;
        height: 75px;

    }
    header ul 
    {
        display: none;
    }
    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(menu.png);
        color: black;
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(0);
        z-index: 11;
    }
    .toggle.active
    {
        position: fixed;
        right: 20px;
        background: url(close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    header ul.navigation.active 
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }
    header ul li a 
    {
        font-size: 1.5em;
        margin: 10px 0;
        color: #ffffff;
        padding:13px;
    }
    header ul li a:hover
    {
        padding: 13px 25px;
        transition: 0.5s;
    }
    section 
    {
        padding: 20px 20px 120px;
    }
    .content
    {
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textBox h2
    {
        color: #333;
        font-size: 2.5em;
    }
    .content .textBox
    {
        max-width: 100%;
    }
    .content .imgBox
    {
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img 
    {
        max-width: 300px;
    }
    .thumb li img 
    {
        max-width: 65px;
    }
    .circle
    {
        clip-path: circle(400px at center bottom);
    }
    .sci
    {
        background: var(--main-color);
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .text 
    {
        left: 4%;
        background: rgb(147, 159, 166);
        padding: 15px 35px;
        color: #000;
        z-index: 100;
        top: -448px;
        border-radius: 40px;
        font-size: 16px;
    }

}